footer {
  background-color: var(--secondary);
  height: 48px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.footer__nav--home,
.footer__nav--bookmark,
.footer__nav--create,
.footer__nav--profile {
  padding: 5px 15px 5px 15px;
  border-radius: 50%;
  background: none;
  border: none;
}

.current {
  background-color: var(--quinary);
}
